.infoContainer {
  display: flex;
}

.infoList {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  align-items: center;
  top: 30%;
  padding: 2px;
  width: 70%;
  font-family: 'Courier New', monospace;
  color: rgb(178, 170, 170);
  gap: 20px;
}

p.born {
  font-family: 'Courier New', monospace;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: bolder;
}
.studies {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-size: 18px;

  letter-spacing: 2px;
  gap: 10px;
}
.studies .studiesaged {
  font-family: 'Courier New', monospace;
  padding: 2px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(178, 170, 170);
}
.studiestittle {
  font-weight: lighter;
}

.entornos {
  display: flex;
  gap: 20px;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 2px;
}
.entorno {
  font-weight: lighter;
}

.tituloProyecto {
  font-size: 35px;

  font-family: var(--font-secondary);
  color: rgb(204, 176, 176);

  margin-right: 15px;
}

.descriProyecto {
  font-size: 22px;
  font-family: 'Courier New', monospace;
  color: rgb(204, 176, 176);

  margin-right: 15px;
}

.fondodepantalla3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/f2.jpg');
  background-size: 150% 150%;
  background-position: 0 0;
  animation: satEfect 20s linear infinite, desenfoque 100s linear infinite,
    wave 20s linear infinite, zoom 50s linear infinite,
    leftRight 30s linear infinite;
  filter: blur(5px) saturate(100%) opacity(55%);
  z-index: -1;
}

/* ---------------------------------------------- */
/* ---------RESPONSIVE------------------------- */
/* ---------------------------------------------- */
@media (max-width: 768px) {
  .infoList {
    width: 80%;
    top: 30%;
  }
  .studies {
    flex-direction: column;
    align-items: center;
  }

  .born {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .infoList {
    width: 80%;
    top: 50%;
    gap: 20px;
  }
  p.born {
    font-size: 15px;
  }
  .studies {
    font-family: 'Courier New', monospace;
    font-size: 15px;
    font-weight: 600;
    color: rgb(178, 170, 170);
  }
  .studies h3 {
    letter-spacing: 5px;
  }
  .studiesaged {
    display: none;
  }
  .studies {
    font-size: 15px;
  }
  .entornos {
    flex-direction: row;
    font-size: 15px;
    gap: 7px;
    letter-spacing: 0px;
  }
}
