.projectInfo {
  display: flex;
  align-items: center;
  gap: 60px;
}

.projectItem {
  display: flex;
  justify-content: flex-start; /*  elementos a los lados */
}
.projectLink {
  font-size: 35px;
  color: rgb(231, 230, 230);
  margin-right: 50px;
}

.projectsList {
  position: absolute;
  top: 30%;
  right: 0;
  width: 60%;
  padding: 2px;
}

.tituloProyecto {
  font-size: 35px;

  font-family: var(--font-secondary);
  color: rgb(178, 170, 170);
  margin-right: 15px;
}

.descriProyecto {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Courier New', monospace;
  color: rgb(204, 176, 176);

  margin-right: 15px;
  letter-spacing: 5px;
}

.fondopantalla2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/f2.jpg');
  background-size: 150% 150%;
  background-position: 0 0;
  animation: satEfect 20s linear infinite, desenfoque 100s linear infinite,
    wave 20s linear infinite, zoom 50s linear infinite,
    leftRight 30s linear infinite;
  filter: blur(5px) saturate(100%) opacity(55%);
  z-index: -1;
}

/* ---------------------------------------------- */
/* ----------RESPONSIVE------      */
/* ---------------------------------------------- */
@media (max-width: 768px) {
  .projectsList {
    position: static;
    width: 90%;
    margin-top: 2rem;
    margin-left: 95px;
    top: 30%;
  }
  .projectInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .tituloProyecto {
    font-size: 28px;
  }
  .descriProyecto {
    font-size: 18px;
    letter-spacing: 2px;
  }
}

@media (max-width: 480px) {
  .projectsList {
    position: static;
    margin-left: 30px;
    width: 95%;
    margin-top: 1rem;
  }
  .tituloProyecto {
    font-size: 24px;
  }
  .descriProyecto {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .projectLink {
    font-size: 18px;
  }
}
